@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

h2,
h3 {
  font-family: ltc-bodoni-175, serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2.88px;
}

p {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.8px;
}

.no-scroll {
  overflow: hidden;
}

.popup {
  @apply fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50;
}

.popup-content {
  @apply bg-white p-8 rounded-lg shadow-md w-full max-w-sm;
}

.close-button {
  @apply absolute top-2 right-2 text-gray-600 hover:text-gray-800 cursor-pointer;
}

.title {
  @apply font-bold text-xl mb-4;
}

.description {
  @apply mb-4;
}

.list {
  @apply space-y-2;
}
